body {
  background: #b68fa2;
  font-family: futura;
}

.logo {
  max-width: 10%;
  padding-left: 40px;
  padding-top: 10px;
}

li {
  list-style: none;
  display: inline;
  padding-right: 25px;
  font-size: 25px;
  font-weight: bold;
  color: #333b3e;
}

button.one {
  background-color: #b68fa2;
  border-color: #333b3e;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #333b3e;
  outline-color: #b68fa2;
}

button.one:hover {
  background-color: #333b3e;
  color: #b68fa2;
}

button.two {
  background-color: #b68fa2;
  border-color: #3e555e;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #3e555e;
  outline-color: #b68fa2;
}

button.two:hover {
  background-color: #3e555e;
  color: #b68fa2;
}

p#demo02 {
  padding-left: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #3e555e;
}

button.three {
  background-color: #b68fa2;
  border-color: #586f77;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #586f77;
  outline-color: #b68fa2;
}

button.three:hover {
  background-color: #586f77;
  color: #b68fa2;
}

p#demo03 {
  padding-left: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #586f77;
}

.quote {
  max-width: 50%;
  min-width: auto;
  padding-top: 50px;
  align-self: center;
  position: absolute;
}

button.four {
  background-color: #b68fa2;
  border-color: #acbcb1;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #acbcb1;
  outline-color: #b68fa2;
}

button.four:hover {
  background-color: #acbcb1;
  color: #b68fa2;
}
