body {
  background: #b68fa2;
  font-family: futura;
}

.logo {
  max-width: 21%;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer {
  text-decoration: none;
  color: #3e555e;
}

li {
  list-style: none;
  display: inline;
  padding-right: 25px;
  font-size: 25px;
  font-weight: bold;
  color: #3e555e;
}

ul {
  bottom: 0;
  position: fixed;
  background-color: #acbcb1;
}

button.one {
  background-color: #b68fa2;
  border-color: #333b3e;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #333b3e;
  outline-color: #b68fa2;
}

button.one:hover {
  background-color: #333b3e;
  color: #b68fa2;
}

button.two {
  background-color: #b68fa2;
  border-color: #3e555e;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #3e555e;
  outline-color: #b68fa2;
}

button.two:hover {
  background-color: #3e555e;
  color: #b68fa2;
}

p#demo02 {
  padding-left: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #3e555e;
}

button.three {
  background-color: #b68fa2;
  border-color: #586f77;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #586f77;
  outline-color: #b68fa2;
}

button.three:hover {
  background-color: #586f77;
  color: #b68fa2;
}

p#demo03 {
  padding-left: 40px;
  font-size: 25px;
  font-weight: bold;
  color: #586f77;
}

button.four {
  background-color: #b68fa2;
  border-color: #acbcb1;
  border-radius: 5px;
  border-width: 4px;
  margin-left: 40px;
  height: 50px;
  width: 475px;
  font-family: futura;
  font-size: 20px;
  font-weight: bold;
  color: #acbcb1;
  outline-color: #b68fa2;
}

button.four:hover {
  background-color: #acbcb1;
  color: #b68fa2;
}

.text-holder {
  margin: 40px;
  font-family: georgia;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

#searchbar {
  float: right;
  position:fixed;
  right: 25px;
  top: 35px;
  text-transform: uppercase;
  color: white;
}

.squares {
  width: 25%;
  height: 200px;
  margin-top: 0px;
  margin-left: 40px;
}

#first-square {
    background-color: #3e555e;
    position: absolute;
}

#second-square {
    border: 5px solid #fff;
    position: relative;
    left: 40px;
    top: 20px;
    z-index: 1;
}

.gradient-block {
  position: relative;
  bottom: 325px;
  right: 40px;
  border-radius: 10px;
  width: 20%;
  height: 100px;
  background: linear-gradient(35deg, #3e555e, #b68fa2);
  float: right;
}

.gradient-block:hover {
  width: 19%;
  height: 90px;
  transform: skewx(24deg);
}

.moon {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 30px;
  left: 60px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0px 0px white;
}

.heart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #acbcb1;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg) ;
}

.heart::after {
  background-color: #acbcb1;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart::before {
  content: "";
  background-color: #acbcb1;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}
.animate {
  height: 40px;
  width: 70%;
  background: black;
  margin: 50px auto;
  border-radius: 5px;
  position: relative;
  animation: rainbow infinite;
}

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}
@keyframes rainbow {
  0% {
    background-color: #333b3e;
    top: 0px;
  }
  25% {
    background-color: #586f77;
    top: 50px;
  }
  50% {
    background-color: #acbcb1;
    top: -25px;
  }
  100% {
    background-color: #333b3e;
    top: 0px;
  }
}

.balls {
  border-radius: 50%;
  background: linear-gradient(
    35deg,
    #ccffff,
    #ffcccc
  );
  position: fixed;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#ball1 {
  left:27%;
animation-timing-function: linear;
}
#ball2 {
  left:56%;
animation-timing-function: ease-out;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  100% {
    top: 249px;
  }
}
